.oxum-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 2rem;
}

.oxum-grid-item-1 {
  grid-area: 1 / 1 / 7 / 2;
}

.oxum-grid-item-2 {
  grid-area: 6 / 2 / 12 / 3;
}

.oxum-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
