.navbar {
  background-color: #F9F1E4;
  position: absolute;
  padding: 1rem;
  right: 0px;
  top: 0;
  z-index: 10;
}

.navbar.responsive.opened {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 6rem 5rem 5rem;
}

.navbar.changeDirection {
  height: 100vh;
  width: 100vw;
}

.nav-links {
  display: none;
}

.nav-links.desktopLinks {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0;
}

.button-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

li {
  list-style: none;
  margin: 1rem 1rem;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
}
