.navbar {
  display: flex;
  background-color: #F9F1E4;
  padding: 0.5rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}

.navbar.changeDirection {
  height: 100vh;
  width: 100vw;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 2rem;
}

.line {
  background-color: #0E0A0A;
  height: 0.25rem;
  width: 2rem;
  transition: all 0.3s ease;
}

.line.open:nth-child(1) {
  transform: rotate(50deg) translate(0.5rem, 0.5rem);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-50deg) translate(0.48rem, -0.5rem);
}

.nav-links {
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.nav-links li {
  margin: 1rem 1rem;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
}
