.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F1E4;
  padding: 0.5rem 1rem;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 2rem;
}

.line {
  background-color: #000000;
  height: 0.25rem;
  width: 100%;
  transition: all 0.3s ease;
}

.line.open:nth-child(1) {
  transform: rotate(40deg) translate(0.4rem, 0.4rem);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-43deg) translate(0.56rem, -0.52rem);
}

.nav-links {
  display: flex;
  list-style: none;
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0;
}

.nav-links.open {
  height: auto;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: #000000;
  /* text-decoration: none; */
  font-size: 1.2rem;
}
