.footer-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-content img {
  margin-top: 2rem;
  width: 300px;
}

@media (min-width: 670px) {
  .footer-content img {
    width: 600px;
  }
}